@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Odor+Mean+Chey&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");

/* Basic styling for the left-hand side panel */  
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 16px; */
}
body {
  font-family: 'Odor Mean Chey', 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  /* background-image: url(./media/20231016_090933.jpg); */
  /* opacity: 0.9; */
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; */
  font-family: 'Odor Mean Chey', 'Poppins', sans-serif;
  color: #ffffff;
  background-color: #000000;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  opacity: 0.6;
  z-index: -1;
}
.headingmain {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-right: 242px;
}
.details {
  display: flex;
  gap: 320px;
}
.left-panel {
  position: flex;
  display: none;
  background-color: #d2f4e8; /* light sea green */
  /* background-color: #333; */
  padding: 20px;
  left: 180; /* Initially hidden */
  width: 200px;
  /* height: 100%; */
  top: 0;
  /* height: 100vh; */
  transition: left 0.9s ease;
}
.left-panel.closed {
  left: -200px; /* Move off-screen when closed */
}
/* Styles for the navigation button */
.navbar {
    background-color: #333;
    padding: 10px;
}
.collapse-btn {
  display: flex;
    background: none;
    border: none;
    /* color: rgb(0, 255, 55); */
    color: orange;
    font-size: 20px;
    cursor: pointer;
}
.main-content {
  display: flex;  
  padding: 20px;
  /* font-weight: normal; */
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  /* margin-left: 90px; */
  margin-left: 0px;
}
.nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: normal;
}
.nav a:hover {
  color: #0023e9; /* dark blue */
  text-shadow: 0 0 10px rgba(170, 115, 115, 0.5);
  /* background: box solid #9fa1a7 ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: #bfc1cc; */
  /* text-decoration: underline; */
}
.main-content p {
  margin-top: 6px;
  padding-left: 100px;
  display: flex;
  /* justify-content: left; */
  align-items: left;
}
.left-panel ul {
  list-style-type: none;
  padding: 0;
}
.left-panel li {
  margin-bottom: 10px;
}
.left-panel a {
  text-decoration: none;
  /* color: #27e2f0; /*dark sea green */
  color: #00796b; /* dark sea green */
}
.left-panel a:hover {
  color: #007bff; /* dark blue */
}
.embedsocial-hashtag{
  display: block;
  /* display: flex;
  gap: 320px;
  margin-top: 120px; */
  max-height: 10%;
}
.map {
  max-width: 50%;
  height: 400px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.social-links img {
  width: 40px; /* Define the width of the icons */
  height: 40px; /* Define the height of the icons */
  border-radius: 50%; /* Make the icons circular */
}
/* Styling for the thumbnails */
.thumbnail {
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Maintain aspect ratio */
  margin: 5px; /* Add some margin between thumbnails */
  cursor: pointer; /* Change cursor to pointer when hovering over thumbnails */
}
.thumbnail:hover {
  opacity: 0.7; /* Reduce opacity when hovering over thumbnails */
}
.iframe-container {
	display: flex; /* Use flexbox */
}

/* Adjust div styles as needed */
.iframe-container div {
    width: 100%; /* Each div takes 50% of the container width */
    box-sizing: border-box; /* Include padding and border in the width calculation */
}
/* .left-content > script, */
/* .left-content > div { */
    /* float: left; /* Align to the left */ 
    /* margin-right: 20px; /* Add some space to the right */ 
/* } */
/* .left-content > div img {
    width: auto; /* Set the width to auto to maintain the original size */
    /* height: auto; Set the height to auto to maintain the aspect ratio */
    /* float: left; */
/* } */ 

#map {
  width: 100%;
  height: 400px;
  margin-top: 20px;
}

/* Styling for the contact form */
#contact {
  margin-top: 30px;
}
#contact-form {
  max-width: 400px;
  margin-top: 20px;
}
#contact-form label {
  display: block;
  margin-bottom: 5px;
}
#contact-form input[type="email"],
#contact-form input[type="text"],
#contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}
#contact-form button {
  background-color: #00796b; /* dark sea green */
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
#contact-form button:hover {
  background-color: #005a51; /* darker sea green */
}
#visitor-count {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.dd_heading {
  text-align: center;
  font-family: roboto thin;
}

.page-content {
  display: grid;
  /* display: flex; */
  /* flex-direction: row-reverse; */
  grid-gap: 1rem;
  /* padding: 1rem; */
  /* max-width: 1024px; */
  max-width: 1296px;
  /* margin: 0 auto; */
  margin-top: 223px;
  /* margin-left: 50vw; */
  margin-left: 590px;
  margin-right: 0px;
  font-family: var(--font-sans);
}

@media (min-width: 100px) {
  .page-content {
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
  }
}

@media (min-width: 500px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
    /* margin-left: 100px; */
  }
}

@media (min-width: 1100px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
    /* margin-left: auto; */
    margin-left: 790px;
    margin-top: 200px;
  }
}

.d_card {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

@media (min-width: 500px) {
  .d_card {
    height: 450px;
  }
}

.d_card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  -webkit-transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e),
    -webkit-transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}

.d_card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0)),
    color-stop(11.7%, rgba(0, 0, 0, 0.009)),
    color-stop(22.1%, rgba(0, 0, 0, 0.034)),
    color-stop(31.2%, rgba(0, 0, 0, 0.072)),
    color-stop(39.4%, rgba(0, 0, 0, 0.123)),
    color-stop(46.6%, rgba(0, 0, 0, 0.182)),
    color-stop(53.1%, rgba(0, 0, 0, 0.249)),
    color-stop(58.9%, rgba(0, 0, 0, 0.32)),
    color-stop(64.3%, rgba(0, 0, 0, 0.394)),
    color-stop(69.3%, rgba(0, 0, 0, 0.468)),
    color-stop(74.1%, rgba(0, 0, 0, 0.54)),
    color-stop(78.8%, rgba(0, 0, 0, 0.607)),
    color-stop(83.6%, rgba(0, 0, 0, 0.668)),
    color-stop(88.7%, rgba(0, 0, 0, 0.721)),
    color-stop(94.1%, rgba(0, 0, 0, 0.762)),
    to(rgba(0, 0, 0, 0.79))
  );
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.009) 11.7%,
    rgba(0, 0, 0, 0.034) 22.1%,
    rgba(0, 0, 0, 0.072) 31.2%,
    rgba(0, 0, 0, 0.123) 39.4%,
    rgba(0, 0, 0, 0.182) 46.6%,
    rgba(0, 0, 0, 0.249) 53.1%,
    rgba(0, 0, 0, 0.32) 58.9%,
    rgba(0, 0, 0, 0.394) 64.3%,
    rgba(0, 0, 0, 0.468) 69.3%,
    rgba(0, 0, 0, 0.54) 74.1%,
    rgba(0, 0, 0, 0.607) 78.8%,
    rgba(0, 0, 0, 0.668) 83.6%,
    rgba(0, 0, 0, 0.721) 88.7%,
    rgba(0, 0, 0, 0.762) 94.1%,
    rgba(0, 0, 0, 0.79) 100%
  );
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e),
    -webkit-transform calc(var(--d) * 2) var(--e);
}

.d_card:nth-child(1):before {
  /* background-image: url(https://images.unsplash.com/photo-1581017601156-b4e8e53df291?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80); */
  background-image: url(./media/Birthi_Falls.jpg);
}

.d_card:nth-child(2):before {
  background-image: url(./media/Scooty.jpg);
}

.d_card:nth-child(3):before {
  background-image: url(./media/Shiva.jpg);
}

.d_card:nth-child(4):before {
  background-image: url(./media/peak.jpg);
  background-size: cover;
  background-position: center;
  overflow: clip;
}

.content {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  -webkit-transition: -webkit-transform var(--d) var(--e);
  transition: -webkit-transform var(--d) var(--e);
  transition: transform var(--d) var(--e);
  transition: transform var(--d) var(--e), -webkit-transform var(--d) var(--e);
  z-index: 1;
}

.content > * + * {
  margin-top: 1rem;
}

/* .heading {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
} */

.data-content {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.content {
  -webkit-transform: translateY(calc(100% - 4.5rem));
  transform: translateY(calc(100% - 4.5rem));
}

@media (hover: hover) and (min-width: 500px) {
  .d_card:after {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .content {
    -webkit-transform: translateY(calc(100% - 4.5rem));
    transform: translateY(calc(100% - 4.5rem));
  }
.content > *:not(.heading) {
  opacity: 0;
  -webkit-transform: translateY(1rem);
  transform: translateY(1rem);
  -webkit-transition: opacity var(--d) var(--e),
    -webkit-transform var(--d) var(--e);
  transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
  transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  transition: transform var(--d) var(--e), opacity var(--d) var(--e),
    -webkit-transform var(--d) var(--e);
}

.d_card:hover,
  .d_card:focus-within {
    -webkit-box-align: center;
    align-items: center;
  }

  .d_card:hover:before,
  .d_card:focus-within:before {
    -webkit-transform: translateY(-4%);
    transform: translateY(-4%);
  }

  .d_card:hover:after,
  .d_card:focus-within:after {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .d_card:hover .content,
  .d_card:focus-within .content {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .d_card:hover .content > *:not(.heading),
  .d_card:focus-within .content > *:not(.heading) {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(var(--d) / 8);
    transition-delay: calc(var(--d) / 8);
  }

  .d_card:focus-within:before,
  .d_card:focus-within:after,
  .d_card:focus-within .content,
  .d_card:focus-within .content > *:not(.heading) {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
  }
}